/*algo {
    propiedad: valor;
}*/

body {
    
}

article {  
    width: 600px;
    margin: auto;
}

h1 {
    font-size: 2.2em;
}
p {
    line-height: 1.8em;
    font-size: 1.2em;
    color: grey;
    font-family: sans-serif;
    margin-bottom: 2.6em;
}
span,time {
    margin-right: 1em;
    font-family: sans-serif;
    color: grey;
    font-weight: 600;
}


